{% extends "base.html" %}
{% block content %}
<h2>Welcome to the WardrobeWizard!</h2>
<p style="position: relative;">Here is where you will interact with the wizard to help make your like buch easier!</p>
<div class="btn-group-vertical" style="position: relative; top: 15px; left: 20px;">
    <a href = "" class='btn btn-primary'>Login</a>
    <a href = "" class='btn btn-primary'>Bump All Items</a>
    <a href = "" class='btn btn-primary'>Drop All Prices</a>
    <a href = "" class='btn btn-primary'>Clear Wardrobe</a>
    <a href = "" class='btn btn-primary'>Logout</a>
</div>
{% endblock %}